.App {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;

    .container {
        position: relative;
        width: 100%;
        max-width: 1300px;
        height: auto;
        min-height: calc(100vh - 60px);
        margin: 0 auto;
    }
}
