@import "./styles/font";
@import "./styles/color";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-all;
}

body {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $underline-color;
    }
}
